<form action="/index" method="POST">
	<button type="submit" name="counters" id="counters" value="counters">Counters</button>
	<button type="submit" name="quotes" id="quotes"value="quotes">Quotes</button><br>
	<h1>DIGS COUNTERS</h1>
	<label for="new">Add new tally</label><br>
	<label for="tally_name">Tally name</label><br>
	<input name="new_tally_name"><br>
	<input type="button" onClick="window.location.href='/index'" value="Add Tally"/><br>
	<label for="tallies">Tallies:</label><br>
	{% for label in labels %}
	<label for={{loop.index}}>{{label}}:</label><br>
	{% endfor %}


</form>
